#games-list-title {
    margin-left: 4vw;
    margin-top: 10px;
    color: $Color10;
    width: auto;
    height: auto;
}

#games-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    #game {
        border: 2px solid $Color30;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        box-shadow: 0 0 5px 0 $Color30;
        border-radius: 5px;
        background-color: $Color60;
        width: 25em;

        #btn-add {
            background-color: $Color60;
            border-radius: 5px;
            border-color: $Color30;
            color: $Color30;
            font-size: 20px;
        }

        #btn-add:hover {
            background-color: $Color30;
            color: $Color60;
            border-color: $Color30;
            transition: .3s ease-in-out;
        }

        img {
            width: 10em;
            height: 14em;
            padding-right: 10px;
        }

        h1 {
            font-size: 30px;
        }
    }
}

#content {
    color: $Color10;
}
