#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $Color60;
    border-top: 5px solid $Color30;
    margin-top: 20px;
    
    #address, #contacts {
        margin: 20px;
        display: flex;
        flex-direction: column;
        width: 14em;
        height: fit-content;

        h3 {
            color: $Color30;
            width: fit-content;
            margin-left: 32px;
        }

        ul {
            color: $Color10;
            list-style: none;
        }
    }
}