#footer {
    display: flex;
    flex-direction: row;
    background-color: $Color60;
    
    #address, #contacts {
        margin: 20px;
        margin-left: 10em;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;

        h3 {
            color: $Color30;
            width: fit-content;
            margin-left: 32px;
        }

        ul {
            color: $Color10;
            list-style: none;
        }
    }

    #contacts {
        width: 14vw;
        margin-left: 5em;
    }
}